<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid vue-container">
  <div class="jumbotron">
    <div class="row">
      <h1 class="col display-4">Top Collègues</h1>
      <app-is-online></app-is-online>
    </div>

    <p class="lead">Les meilleurs collègues du moment</p>

    <div class="form-group">
      <label for="nom">Pseudo :</label>
      <input type="text" class="form-control" id="nom" #prenom>
    </div>
    <div class="form-group">
      <label for="url-image">Url image :</label>
      <input type="text" class="form-control" id="url-image" #urlImage>
    </div>
    <button class="btn btn-primary" [disabled]="! (isOnlineSvc.isOnline | async)" (click)="addCollegue(prenom,urlImage)">Ajouter un nouveau collègue</button>
    <button class="btn btn-link" (click)="open(content)">Je laisse un avis sur l'application</button>
  </div>

  <ngb-alert *ngIf="alert" [type]="alert.type" (close)="alert = null">
    <div [innerHTML]="alert.msg"></div>
  </ngb-alert>

  <div class="btn-group" role="group">
    <a class="btn btn-outline-primary" routerLink="classique" routerLinkActive="active">Classique</a>
    <a class="btn btn-outline-primary" routerLink="tableau" routerLinkActive="active">Tableau</a>
    <a class="btn btn-outline-primary" routerLink="carousel" routerLinkActive="active">Carousel</a>
  </div>
  <hr>
  <app-votre-dernier-avis></app-votre-dernier-avis>
  <div class="row">
    <div class="col-8 center">
      <router-outlet></router-outlet>
    </div>
    <div class="col-4">
      <app-historique></app-historique>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Votre avis compte</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="avisForm" novalidate>
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="note">
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="bad">Mauvais
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="good">Bon
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="excellent">Excellent
        </label>
      </div>
      <div class="form-group">
        <textarea class="form-control" formControlName="suggestions" name="suggestion" rows="3" required minlength="20" maxlength="255"></textarea>
      </div>
    </form>
    <pre>{{avisForm.value | json}}</pre>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="saveAvis()">Enregistrer</button>
  </div>
</ng-template>
