<div class="input-group mb-3">
  <span class="input-group-addon" id="basic-addon1">Limite</span>
  <input type="text" class="form-control" [formControl]="limiteField" placeholder="Limiter le nombre de collègues à afficher"
    aria-label="limite" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Filtre par pseudo</span>
  <input type="text" class="form-control" [formControl]="pseudoField" placeholder="Pseudo" aria-describedby="basic-addon1">
</div>
