<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col">Pseudo</th>
      <th scope="col">Score</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let col of collegues">
      <th scope="row">
        <img src="{{col.imageUrl}}">
      </th>
      <td>{{col.pseudo}}</td>
      <td>{{col.score}}</td>
      <td>
        <app-aime-deteste-buttons (aimerOuDetester)="likeOrHate($event,col)"></app-aime-deteste-buttons>
      </td>
    </tr>
  </tbody>
</table>
