<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Top Collègues</h1>
    <p class="lead">Les meilleurs collègues du moment</p>

    <div class="form-group">
      <label for="nom">Prénom :</label>
      <input type="text" class="form-control" id="nom" #prenom>
    </div>
    <div class="form-group">
      <label for="url-image">Url image :</label>
      <input type="text" class="form-control" id="url-image" #urlImage>
    </div>
    <button class="btn btn-primary" (click)="addCollegue(prenom,urlImage)">Ajouter un nouveau collègue</button>
  </div>

  <ngb-alert *ngIf="alert" [type]="alert.type" (close)="alert = null">
    <div [innerHTML]="alert.msg"></div>
  </ngb-alert>


  <div class="card-deck">
    <div id="list" *ngFor="let col of collegues">
      <app-un-collegue [collegue]="col"></app-un-collegue>
    </div>
  </div>
</div>
